{% extends 'base.html' %}

{% block 'content' %}
  <h1 style="font-size: 25px;">Create New Card</h1>
  <br/>
  <br/>
  {% if added %}
    <p class="card-info">Success!</p>
    <p class="card-info">You added a new card:</p>
    <p class="card-info">Front Card: <span class="question">{{ question }}</span></p>
    <p class="card-info">Back Card: <span class="answer">{{ answer }}</span></p>
    <br/>
    <br/>
  {% endif %}
  <form action="{% url 'create_new_card' %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
      <input type="hidden" name="user" value="{{ user.id }}">
    {% endif %}
    <div class="form-group">
      <label for="question" class="form-label card-label">Question:</label>
      <input type="text" class="form-control card-input" id="question" placeholder="Front Card" name="question">
    </div>
    <br/>
    <div class="form-group">
      <label for="answer" class="form-label card-label">Answer:</label>
      <input type="text" class="form-control card-input" id="answer" placeholder="Back Card" name="answer">
    </div>
    <br/>
    <div class="form-group">
      <label for="box" class="form-label card-label">Box:</label>
      <select id="box" class="form-select card-input" name="box">
        <option value="box1">Box 1</option>
        <option value="box2">Box 2</option>
        <option value="box3">Box 3</option>
      </select>
    </div>
    <br/>
    <div class="d-grid gap-2">
      <button class="btn btn-success card-button" type="submit">Add</button>
    </div>
  </form>
  <style type="text/css">
    .card-info {
      font-size: 15px;
      color: black;
    }  
    
    .question, .answer, .card-label, .card-input, .card-button {
      font-size: 15px;
    }
    .btn {
      font-size: 15px;   /* Przyciski*/
    }
  </style>
{% endblock %}
