{% extends 'base.html' %}

{% block 'content' %}
  <h1>Create New Card</h1>
  <br/>
  {% if added %}
    <p>You added a new card:</p>
    <p>Front Card: {{ question }}</p>
    <p>Back Card: {{ answer }}</p>
    <br/>
  {% endif %}
  <form action="{% url 'create_new_card' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="question" class="form-label">Question:</label>
      <input type="text" class="form-control" id="question" placeholder="Front Card" name="question">
    </div>
    <br/>
    <div class="form-group">
      <label for="answer" class="form-label">Answer:</label>
      <input type="text" class="form-control" id="answer" placeholder="Back Card" name="answer">
    </div>
    <br/>
    <div class="form-group">
      <label for="box" class="form-label">Box:</label>
      <select id="box" class="form-select" name="box">
        <option value="box1">Box 1</option>
        <option value="box2">Box 2</option>
        <option value="box3">Box 3</option>
      </select>
    </div>
    <br/>
    <div class="d-grid gap-2">
      <button class="btn btn-success" type="submit">Add</button>
    </div>
  </form>
{% endblock %}
