{% extends 'base.html' %}

{% block 'content' %}
  <h1>Export Cards</h1>
  <br/>

  <!-- Lista rozwijana do wyboru boxa -->
  <select class="form-select" id="box-select" aria-label="Select a box">
    <option selected value="all">All cards</option>
    <option disabled>──────────</option>
    {% for box in unique_boxes %}
      <option value="{{ box.box }}">Box {{ box.box }}</option>
    {% endfor %}
  </select>

  <!-- Tabela z kartami -->
  <div class="card-tables">
    {% for box in unique_boxes %}
      <table class="table box-table" data-box="{{ box.box }}">
        <thead>
          <tr>
            <th scope="col" class="box-header" colspan="2">Box {{ box.box }}</th>
          </tr>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
          </tr>
        </thead>
        <tbody>
          {% for card in all_cards %}
            {% if box.box == 'all' or card.box == box.box %}
              <tr>
                <td>{{ card.question }}</td>
                <td>{{ card.answer }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>

  <!-- Przycisk do drukowania -->
  <button class="btn btn-primary" id="print-button">Print Table</button>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const boxSelect = document.getElementById('box-select');
      const boxTables = document.querySelectorAll('.box-table');
      const printButton = document.getElementById('print-button');

      boxSelect.addEventListener('change', () => {
        const selectedBox = boxSelect.value;
        boxTables.forEach((table) => {
          if (selectedBox === 'all' || table.getAttribute('data-box') === selectedBox) {
            table.style.display = 'table';
          } else {
            table.style.display = 'none';
          }
        });
      });

      printButton.addEventListener('click', () => {
        const selectedBox = boxSelect.value;
        boxTables.forEach((table) => {
          if (selectedBox === 'all' || table.getAttribute('data-box') === selectedBox) {
            table.style.display = 'table';
          } else {
            table.style.display = 'none';
          }
        });
        document.getElementById('box-select').style.display = 'none'; // Ukryj listę rozwijaną
        document.querySelector('h1').style.display = 'none'; // Ukryj tytuł
        window.print();

        // Przywróć widoczność elementów po zakończonym drukowaniu
        boxTables.forEach((table) => {
          table.style.display = 'none';
        });
        document.getElementById('box-select').style.display = 'block';
        document.querySelector('h1').style.display = 'block';
      });
    });
  </script>
{% endblock %}
