{% extends 'base.html' %}

{% load static %}

{% block 'content' %}
  <h1>Welcome to the Language Flashcards app!</h1>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <!-- Obrazek "START", który otwiera program fiszek -->
  <div class="d-flex justify-content-center">
    <a href="{% url 'flashcard_program' %}" role="button">
      <img src="{% static 'images/start_button.png' %}" alt="Start Button" class="start-img" style="width: 80%; height: auto;">
    </a>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const flashcard = document.querySelector('.flashcard');
      const questionElement = flashcard.querySelector('.question');
      const answerElement = flashcard.querySelector('.answer');
      const emojis = document.querySelectorAll('.emoji-btn');

      emojis.forEach((emoji) => {
        emoji.addEventListener('click', function () {
          questionElement.style.display = 'none';
          answerElement.style.display = 'block';
        });
      });
    });
  </script>
{% endblock %}