{% extends 'base.html' %}

{% block 'content' %}

{% if request.user.is_authenticated %}
  <p>{{ request.user.username }}</p>
  <a href="{% url 'logout' %}">Logout</a>
{% else %}
  <br/>
  <h1>Login</h1>

  <form method="POST" action="{% url 'boxes' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  {% if form.errors %}
    <div class="alert alert-danger mt-3">
      {% for field, error in form.errors.items %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  <br>
  <a href="{% url 'signup' %}" class="btn btn-success">Don't have an Account? Create</a>
{% endif %}
{% endblock %}
